.data-selection-content {
  margin: 40px 0;
}
.data-selection-list {
  min-height: 550px;

  th {
    display: inline-block;
    width: 300px;
    text-align: left;
  }

  tr {
    display: block;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    padding: 20px 0;
    margin-bottom: 20px;
  }
}
