<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column name">Name</th>
      <td mat-cell *matCellDef="let customer" class="td-text-link">
        <span (click)="customerSelected.emit(customer.id)">{{customer.name}}</span>
      </td>
    </ng-container>

    <!-- Platform Column -->
    <ng-container matColumnDef="platformName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Platform</th>
      <td mat-cell *matCellDef="let customer">{{customer.platformName}}</td>
    </ng-container>

    <!-- Created By Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
      <td mat-cell *matCellDef="let customer">{{customer.createdBy}}</td>
    </ng-container>

    <!-- Created On Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
      <td mat-cell *matCellDef="let customer">
        <avc-date [date]="customer.createdDate"></avc-date>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="not-found-message" *matNoDataRow>
      <td class="mat-cell" colspan="9999">No Customers found for this connector</td>
    </tr>
  </table>
</div>

<mat-paginator
  [pageSizeOptions]="[25, 50, 100]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
