@use 'colors' as *;

.container {
  display: flex;
  padding: 10px;
  box-shadow: 0 2px 7px #00000040;
  justify-content: space-between;
}

.row {
  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  height: 45px;
  width: 45px;
}

.title {
  color: $dark-blue;
  font-size: 20px;
  margin: 0 5px;
}
