<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="startDate"
    matSortDirection="desc"
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column name">ID</th>
      <td mat-cell *matCellDef="let operation" class="td-text-link">
        <span (click)="operationSelected.emit(operation.id)">{{operation.id}}</span>
      </td>
    </ng-container>

    <!-- Connector Name Column -->
    <ng-container matColumnDef="connectorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Connector</th>
      <td mat-cell *matCellDef="let connector">{{connector.connectorName}}</td>
    </ng-container>

    <!-- Instance Column -->
    <ng-container matColumnDef="registrationDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Instance</th>
      <td mat-cell *matCellDef="let connector">{{connector.registrationDescription}}</td>
    </ng-container>

    <!-- Operation Column -->
    <ng-container matColumnDef="operationTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Operation</th>
      <td mat-cell *matCellDef="let connector">{{connector.operationTypeName}}</td>
    </ng-container>

    <!-- Preview Column -->
    <ng-container matColumnDef="isExecutionPreview">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preview</th>
      <td mat-cell *matCellDef="let connector">{{connector.isExecutionPreview ? 'Preview':''}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="operationStatusTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let connector">{{connector.operationStatusTypeName}}</td>
    </ng-container>

    <!-- Started Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Started</th>
      <td mat-cell *matCellDef="let connector">
        <avc-date [date]="connector.startDate"></avc-date>
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let connector">
        {{ getOperationDuration(connector.startDate, connector.endDate)}}
      </td>
    </ng-container>

    <!-- Inserts Column -->
    <ng-container matColumnDef="inserts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inserts</th>
      <td mat-cell *matCellDef="let connector">{{connector.inserts}}</td>
    </ng-container>

    <!-- Updates Column -->
    <ng-container matColumnDef="updates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updates</th>
      <td mat-cell *matCellDef="let connector">{{connector.updates}}</td>
    </ng-container>

    <!-- Deletes Column -->
    <ng-container matColumnDef="deletes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Deletes</th>
      <td mat-cell *matCellDef="let connector">{{connector.deletes}}</td>
    </ng-container>

    <!-- Errors Column -->
    <ng-container matColumnDef="errors">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Errors</th>
      <td mat-cell *matCellDef="let connector">{{connector.errors}}</td>
    </ng-container>

    <!-- Unchanged Column -->
    <ng-container matColumnDef="noUpdates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unchanged</th>
      <td mat-cell *matCellDef="let connector">{{connector.noUpdates}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="not-found-message" *matNoDataRow>
      <td class="mat-cell" colspan="9999">No operations found for this customer</td>
    </tr>
  </table>
</div>

<mat-paginator
  [pageSizeOptions]="[25, 50, 100]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
