.message-container {
  background: white;
  margin: 90px auto;
  padding: 25px 0;
  width: 30%;
  text-align: center;
  border-radius: 5px;

  h2 {
    margin: 12px 0 20px;
  }

  img {
    max-width: 320px;
    width: 80%;
  }
}
