@use 'colors' as *;

.panel {
  margin-bottom: 20px;
  &-title {
    font-size: 22px;
  }
}

.content {
  &-row {
    display: flex;
    margin: 1.25em 0;
    align-items: center;
  }
  &-header {
    font-size: 14px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
  }
  &-text {
    font-size: 14px;
    font-weight: 400;
  }
  &-first {
    flex: 0.3 1;
    margin-right: 20px;

    @media screen and (max-width: 1440px) {
      flex: 0.35 1;
    }
  }
  &-second {
    flex: 0.7 1;

    @media screen and (max-width: 1440px) {
      flex: 0.65 1;
    }
  }
  &-input {
    width: 75%;

    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }
}

.subtitle {
  &-container {
    margin: -7px 0 20px 0;
  }
  &-row {
    display: flex;
    align-items: center;
  }
  &-text {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: $gray;
  }
}

.text {
  &-gray {
    color: $gray;
  }
}

.divider {
  margin: 0 0.5em;
  &-horz {
    border-top: 2px solid $lighter-gray;
  }
}

.button {
  &-container {
    display: flex;
    justify-content: flex-end;
  }
}
