$gray-dark: #404041;
$cornflower-blue: #0574b0;
$purple: #ab218e;
$dark-cerulean: #004e74;
$red: #c32727;
$pale-blue: #dee2e6;
$blue-charcoal: #212529;
$dark-blue: #0a2e57;
$black: #1f2531;
$default-header-color: #313132;
$blue: #04537e;
$light-gray: #cdcdcd;
$lighter-gray: #f4f4f5;
$gray: #556378;
$error: #c70000;
$success: #007756;

//opaque colors
$light-blue-opac-10: rgba(5, 116, 176, 0.1);
