mat-slide-toggle,
avc-complex-property,
.complex-property-type {
  display: block;
  margin: 15px 0;
}

.complex-error {
  font-size: 12px;
  font-style: normal;
  font-family: 'artegra-regular', Arial, Helvetica, sans-serif;
}
