:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

.game-title {
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
}

.game-description {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
